.card {
    height: 100%; 
  }
  
  .card-body {
    height: 90px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  
  .card-img-top {
    width: 100px; 
    height: 200px; 
    object-fit: fill; 
  }